.notification-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.7);
}

.notification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 500px;
    padding: 32px;
    border-radius: 16px;
    background-color: var(--main-light);
}

.notification-text {
    margin-bottom: 16px;
    text-align: center;
}

.notification-btns {
    display: flex;
    gap: 16px;
}

.notification-link {
    padding: 12px 40px;
    color: var(--light-grey);
    border-radius: 10px;
    background-color: var(--blue);
}

.notification-cancel-btn {
    padding: 12px 40px;
    color: var(--dark-grey);
    border-radius: 10px;
    background-color: var(--light-blue);
}