.filter-add-btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.orders-list {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 132px;
}

@media (max-width: 1000px) {
    .orders-list {
        gap: 64px;
    }
}