.order-card-container {
    width: 100%;
    padding: 40px;
    border-radius: 16px;
    background-color: var(--light-grey);
}

.order-card-status {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #FF0000;
}

.order-card-inf {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.order-card-inf-name {
    margin-bottom: 16px;
    font-weight: 500;
}

.order-card-inf-date {

}

.order-card-btns {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.more-detailed-btn {
    padding: 12px 40px;
    font-weight: 500;
    border-radius: 10px;
    color: var(--dark-grey);
    background-color: var(--light-blue);
}

.change-status-btn {
    padding: 12px 40px;
    font-weight: 500;
    border-radius: 10px;
    color: var(--light-grey);
    background-color: var(--blue);
}