.order-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.7);
}

.order-container {
    width: 70%;
    max-width: 1000px;
    box-sizing: border-box;
    padding: 48px;
    border-radius: 16px;
    background-color: var(--main-light);
}

.order-status {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    /* background-color: #FF0000; */
}

.order-inf {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.order-inf-name {
    margin-bottom: 16px;
    font-weight: 500;
}

.order-inf-text {
    margin-bottom: 16px;
}

.order-inf-text-bg {
    padding: 3px 8px;
    border-radius: 8px;
    background-color: var(--light-grey);
}

.order-btns {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.close-btn {
    padding: 12px 40px;
    font-weight: 500;
    border-radius: 10px;
    color: var(--dark-grey);
    background-color: var(--light-blue);
}

.change-status-btn {
    padding: 12px 40px;
    font-weight: 500;
    border-radius: 10px;
    color: var(--light-grey);
    background-color: var(--blue);
}