.filter-container {
    display: flex;
    gap: 64px;
}

.not-work {
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
}

.filter-btn {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .filter-container {
        gap: 32px;
    }
}